body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe676;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #2f48d3;
}

.gif_container img {
    width: 61%; 
    max-width: 500px; 
    height: auto; 
}
